.formContainer {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 20px;
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginFormButton {
    width: 100%;
    border-radius: 20px;
  }
  